<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225207945815-a08kchashitse7ln0qhuvcehjpctgi48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225207945815-a08kchashitse7ln0qhuvcehjpctgi48</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ2iMRCglGxrUKrXrClYr2DJDBygwRd4w</string>
	<key>GCM_SENDER_ID</key>
	<string>225207945815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.MyAudio</string>
	<key>PROJECT_ID</key>
	<string>myaudio-xamarin-app-dd5da</string>
	<key>STORAGE_BUCKET</key>
	<string>myaudio-xamarin-app-dd5da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225207945815:ios:60fcacd099ad1bed04b112</string>
</dict>
</plist>